<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
    <title>News App</title>
</head>

<body>

    <nav class="navbar is-black">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="https://cdn.jim-nielsen.com/macos/128/news-2021-05-25.png" alt="news app">
            </a>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'index' %}">
                    News
                </a>
                <a class="navbar-item" href="{% url 'about' %}">
                    About
                </a>
            </div>

            {% if not user.is_authenticated %}
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="bd-tw-button button" href="{% url 'login' %}">
                                <span>
                                    Sign In
                                </span>
                            </a>
                        </p>
                        <p class="control">
                            <a class="button is-danger" href="{% url 'register' %}">
                                <span>Sign Up</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                        <form method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <input type="submit" value='Logout' class="button is-danger">
                        </form>
                        </p>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </nav>
    <section class="section">
        <div class="container">
            <div class="rows">
                <h1 class="title">
                    What's the News?
                </h1>
                <div class="column is-offest-16 is-10">
                    {% for new, des, i in mylist %}
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ new }}</span> <br>
                                        <img src="{{i}}" alt="">
                                        <span class="subtitle">{{ des }}</span>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>News App</strong> was created by the company <a href="">XYZ</a>. If you have any questions,
                please contact
                us: <a href="">0 32 22 22 22</a>
            </p>
        </div>
    </footer>
</body>

</html>